.overview-page {
  padding-top: 24px;
  user-select: none;

  .chapter-cards {
    margin-top: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 0.004em;
  }
}
