.navbar {
  padding: 25px 16px 0;
  height: 68px;
}

.progress {
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.flagIcon {
  color: #ffffff;
  position: absolute;
  top: -8px;
  right: 0;
  font-size: 1.25em;
}
